{% extends "entry_base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block qb-main-col %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ object.title }}</h2>
        <p>{{ object.pub_time }}</p>
		<div id="blog-content" style="display:none;">
			{{ object.content|safe }}
		</div>
    </div>
{% endblock %}

{% block tags %}
	{% for tag in object.get_tag_list %}
        <a href="{{ tag.get_url }}"><span class="label label-info">{{ tag }}</span></a>
    {% endfor %}
{% endblock %}

{% block categories %}
	{% if object.get_category_list %}
	{% for category in object.get_category_list %}
		<li class="list-group-item"><a href="{{ category.get_url }}">{{ category }}</a></li>
	{% endfor %}
	{% endif %}
{% endblock %}


